rerun.txt
pickle-email-*.html
db/*.sqlite3
capybara-*.html
/vendor/bundle
/tmp/*
/specifications
/spec/views
/spec/tmp/*
/spec/routing
/spec/requests
/rerun.txt
/public/system/*
/public/stylesheets/compiled
/public/cache
/nbproject/
/log/*
/gems
/doc/specs.html
/doc/features.html
/doc/app/
/doc/api/
/db/*.sqlite3-journal
/db/*.sqlite3
/db/*.javadb/
/coverage/
/coverage.data
/config/database.yml
/config/config.yml
/capybara*
/cache
/.bundle
/*.tmproj
.sass-cache
.rspec
.redcar/
.idea
.DS_Store
*.sassc
*.rbc
**.war
**.swp
**.orig
.vimlog
